###############################################################################################################
# A more complex deployment to ensure that the Curity Identity Server trusts the SPIRE intermediate certificate
# - An init container configures the current certificate when pods start
# - A sidecar container updates the configuration when SPIRE renews the certificate
###############################################################################################################

replicaCount: 1

image:
  repository: 'custom_idsvr'
  tag: '1.0'

curity:
  adminUiHttp: true
  admin:
    podLabels:
      sidecar.istio.io/inject: 'true'
    podAnnotations:
      inject.istio.io/templates: 'sidecar,spire'
    serviceAccount:
      name: curity-idsvr-admin

  runtime:
    podLabels:
      sidecar.istio.io/inject: 'true'
    podAnnotations:
      inject.istio.io/templates: 'sidecar,spire'
    serviceAccount:
      name: curity-idsvr-runtime

  config:
    uiEnabled: true
    environmentVariableSecrets:
    - idsvr-secrets
